@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

/* SECTION ACCUEIL */

#accueil {
    background: url(images/home1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
}

#accueil header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo img {
    height: 30px;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    width: 60%;
    cursor: pointer;
    color: white;
}

.title {
    position: relative;
    margin-left: 15%;
    margin-top: 15%;
    padding: 20px;
    font-family: 'Roboto Slab',serif;
    font-size: 300%;
    font-style: normal;
    color: white;
    z-index: 1;
}

.title::after {
    content: "H"; /* Lettre en arrière-plan */
    position: absolute;
    transform: translate(-46vh, -30vh); /* Centrage */
    font-size: 50vh; /* Taille de la lettre */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2); /* Blanc transparent */
    z-index: 0; /* Derrière le texte */
    font-family: 'Roboto Slab',serif;
}

.text-st3 {
    text-align: justify;
    justify-content: right;
    margin-left: 20%;
    margin-right: 30%;
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: white;
}

/* SECTION ABOUT */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: white;
}

.about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

.image1 {
    width: 60%;
    height: auto;
    margin-top: 30%;
    margin-left: -35%;
    justify-content: center;
    border: 3px solid rgb(193, 176, 134); /* Contour avec la couleur spécifiée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 8px 8px 15px black;
}

.image2 {
    width: 55%;
    height: 20%;
    margin-top: -25%;
    margin-left: 20%;
    margin-bottom: 25%;
    justify-content: center;
    border: 3px solid rgb(193, 176, 134); /* Contour avec la couleur spécifiée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 8px 8px 15px black;
}

.about-text {
    width: 50%;
}

.sous-titre  {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 10%;
    text-align: left;
    color:  rgb(51, 51, 51);
    gap: 10px;
}

.sous-titre::before {
    content: "";
    display: block;
    width: 75px;
    height: 4px;
    background-color: rgb(193, 176, 134);
}

h3 {
    font-weight: 400;
    text-align: left;
    margin-left: 10%;
}

.text1 {
    font-size: 12px;
    text-align: justify;
    margin-left: 25%;
}

.text2 {
    font-size: 12px;
    text-align: justify;
    margin-left: 25%;
    margin-bottom: 10%;
}

#about a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 25%;
    color: white;
    border: 3px solid white;
    background-color: rgb(193, 176, 134);
    width: 80px;
    height: 30px;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.3);
}